<div class="write_form">
  <form id="writeAction" action="/boards" method="post">
    <textarea class="textContents " id="addContents " name="addContents " rows="20 " cols="80 "></textarea>
    <br />
    <input type="text" class="inputSubject" id="addContentSubject" name="addContentSubject" placeholder="제목">
    <input type="text" class="inputWriter" id="addContentWriter" name="addContentWriter" placeholder="작성자">
  </form>
  <br />
  <div id = "new " class="addBtngroup ">
      <button onclick="submitContents('add'); "><div>SUBMIT</div></a>
      <button onclick="location.href='/list'"><div>CANCEL</div></a>
  </div>
</div>