<html>

<head>
  <style>
  </style>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <button type="button" onclick="location.href='/list'">DOC LIST</button>
  <button onclick="location.href='/create'"><div>CREATE DOC</div></a></button>
</body>

</html>