<html>

<head>
  <style>
  </style>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <button type="button" onclick="location.href='/list'">
    View Docs List
  </button>
  <button type="button" onclick="location.href='/create'">
    Create Docs
  </button>
</body>

</html>